
adlfs==2024.12.0          # via -r requirements.in
agate==1.9.1              # via dbt-adapters, dbt-common, dbt-core
aiofile==3.9.0            # via aiopath
aiofiles==24.1.0          # via -r requirements.in
aioftp==0.24.1            # via -r requirements.in
aiohappyeyeballs==2.5.0   # via aiohttp
aiohttp==3.11.13          # via adlfs, meraki, prefect-azure
aiopath==0.7.7            # via -r requirements.in
aiosignal==1.3.2          # via aiohttp
aiosqlite==0.21.0         # via prefect
alembic==1.15.1           # via prefect
annotated-types==0.7.0    # via pydantic
anyio==4.8.0              # via aiopath, httpx, prefect, starlette
apprise==1.9.2            # via prefect
arcgis==2.4.0             # via -r requirements.in
asgi-lifespan==2.1.0      # via prefect
async-lru==2.0.4          # via -r requirements.in
asyncpg==0.30.0           # via prefect
attrs==25.1.0             # via aiohttp, glom, jsonschema, referencing
azure-common==1.1.28      # via azure-mgmt-containerinstance, azure-mgmt-resource
azure-core==1.32.0        # via adlfs, azure-cosmos, azure-identity, azure-mgmt-core, azure-storage-blob
azure-cosmos==4.9.0       # via -r requirements.in
azure-datalake-store==0.0.53  # via adlfs
azure-identity==1.20.0    # via adlfs, prefect-azure
azure-mgmt-containerinstance==10.1.0  # via prefect-azure
azure-mgmt-core==1.5.0    # via azure-mgmt-containerinstance, azure-mgmt-resource
azure-mgmt-resource==23.3.0  # via prefect-azure
azure-storage-blob==12.24.1  # via adlfs, -r requirements.in
babel==2.17.0             # via agate, docxcompose, mkdocs-material
backrefs==5.8             # via mkdocs-material
beautifulsoup4==4.13.3    # via -r requirements.in
boltons==25.0.0           # via face, glom
cachetools==5.5.2         # via arcgis, google-auth, prefect
caio==0.9.21              # via aiofile
certifi==2025.1.31        # via apprise, httpcore, httpx, requests
cffi==1.17.1              # via azure-datalake-store, cryptography
cfgv==3.4.0               # via pre-commit
chardet==5.2.0            # via diff-cover, sqlfluff
charset-normalizer==3.4.1  # via requests
click==8.1.8              # via apprise, dask, dbt-core, dbt-semantic-interfaces, geomet, mkdocs, prefect, sqlfluff, typer, uvicorn
cloudpickle==3.1.1        # via dask, prefect
codespell==2.4.1          # via -r requirements.in
colorama==0.4.6           # via dbt-common, griffe, mkdocs-material, sqlfluff
connectorx==0.4.2         # via -r requirements.in
contourpy==1.3.1          # via matplotlib
coolname==2.2.0           # via prefect
country-converter==1.3    # via -r requirements.in
croniter==6.0.0           # via -r requirements.in
cryptography==44.0.2      # via arcgis, azure-identity, azure-storage-blob, msal, oracledb, prefect, pyjwt, pyspnego, requests-kerberos
cycler==0.12.1            # via matplotlib
daff==1.3.46              # via dbt-core
dask==2025.2.0            # via arcgis, -r requirements.in
databricks-sdk==0.17.0    # via dbt-databricks
databricks-sql-connector==3.7.3  # via dbt-databricks, -r requirements.in
datacompy==0.16.3         # via -r requirements.in
dateparser==1.2.1         # via prefect
dbt-adapters==1.14.1      # via dbt-core, dbt-databricks, dbt-spark
dbt-common==1.15.0        # via dbt-adapters, dbt-core, dbt-databricks, dbt-spark
dbt-core==1.9.3           # via dbt-databricks, dbt-spark, prefect-dbt, sqlfluff-templater-dbt, -r requirements.in
dbt-databricks==1.9.7     # via -r requirements.in
dbt-extractor==0.5.1      # via dbt-core
dbt-semantic-interfaces==0.7.4  # via dbt-core
dbt-spark==1.9.2          # via dbt-databricks
decorator==5.2.1          # via gssapi
deepdiff==7.0.1           # via dbt-common
defusedxml==0.7.1         # via fpdf2
deltalake==0.22.3         # via -r requirements.in
deprecated==1.2.18        # via opentelemetry-api
diff-cover==9.2.3         # via sqlfluff
distlib==0.3.9            # via virtualenv
dnspython==2.7.0          # via email-validator
docker==7.1.0             # via prefect
docxcompose==1.4.0        # via docxtpl
docxtpl==0.19.1           # via -r requirements.in
duckdb==1.2.1             # via -r requirements.in
email-validator==2.2.0    # via -r requirements.in
et-xmlfile==2.0.0         # via openpyxl
exceptiongroup==1.2.2     # via prefect
face==24.0.0              # via glom
fastapi==0.115.11         # via prefect, -r requirements.in
fastexcel==0.13.0         # via -r requirements.in
filelock==3.17.0          # via virtualenv
fonttools==4.56.0         # via fpdf2, matplotlib
fpdf2==2.8.2              # via -r requirements.in
frozenlist==1.5.0         # via aiohttp, aiosignal
fsspec==2025.3.0          # via adlfs, dask, prefect
geomet==1.1.0             # via arcgis
ghp-import==2.1.0         # via mkdocs
glom==24.11.0             # via -r requirements.in
google-auth==2.38.0       # via databricks-sdk
graphql-core==3.2.6       # via sgqlc
graphviz==0.20.3          # via prefect
greenlet==3.1.1           # via playwright, sqlalchemy
griffe==1.6.0             # via mkdocstrings-python, prefect
gssapi==1.9.0             # via pyspnego, requests-gssapi
gunicorn==23.0.0          # via -r requirements.in
h11==0.14.0               # via httpcore, uvicorn
h2==4.2.0                 # via httpx
hpack==4.1.0              # via h2
httpcore==1.0.7           # via httpx, prefect
httpx==0.27.2             # via prefect, -r requirements.in
humanize==4.12.1          # via jinja2-humanize-extension, prefect
hyperframe==6.1.0         # via h2
identify==2.6.9           # via pre-commit
idna==3.10                # via anyio, email-validator, httpx, requests, yarl
imagehash==4.3.2          # via -r requirements.in
importlib-metadata==6.11.0  # via dbt-semantic-interfaces, opentelemetry-api
inflection==0.5.1         # via -r requirements.in
iniconfig==2.0.0          # via pytest
isodate==0.6.1            # via agate, azure-mgmt-containerinstance, azure-mgmt-resource, azure-storage-blob, dbt-common
jaraco-classes==3.4.0     # via keyring
jaraco-context==6.0.1     # via keyring
jaraco-functools==4.1.0   # via keyring
jinja2==3.1.6             # via dbt-common, dbt-core, dbt-semantic-interfaces, diff-cover, docxtpl, jinja2-humanize-extension, jinja2-simple-tags, mkdocs, mkdocs-material, mkdocstrings, prefect, sqlfluff, -r requirements.in
jinja2-humanize-extension==0.4.0  # via prefect
jinja2-simple-tags==0.6.1  # via sqlfluff-templater-dbt
jsonpatch==1.33           # via prefect
jsonpointer==3.0.0        # via jsonpatch
jsonschema==4.23.0        # via dbt-common, dbt-semantic-interfaces, prefect
jsonschema-specifications==2024.10.1  # via jsonschema
kaleido==0.2.1            # via -r requirements.in
keyring==25.6.0           # via arcgis, dbt-databricks
kiwisolver==1.4.8         # via matplotlib
krb5==0.7.1               # via pyspnego
leather==0.4.0            # via agate
locket==1.0.0             # via partd
lxml==5.3.1               # via arcgis, docxcompose, docxtpl, python-docx
lz4==4.4.3                # via databricks-sql-connector
mako==1.3.9               # via alembic
markdown==3.7             # via apprise, mkdocs, mkdocs-autorefs, mkdocs-material, mkdocstrings, pymdown-extensions
markdown-it-py==3.0.0     # via rich
markupsafe==3.0.2         # via jinja2, mako, mkdocs, mkdocs-autorefs, mkdocstrings
mashumaro==3.14           # via dbt-adapters, dbt-common, dbt-core
matplotlib==3.10.1        # via arcgis
matplotlib-inline==0.1.7  # via arcgis
mdurl==0.1.2              # via markdown-it-py
meraki==1.54.0            # via -r requirements.in
mergedeep==1.3.4          # via mkdocs, mkdocs-get-deps
mkdocs==1.6.1             # via mkdocs-autorefs, mkdocs-material, mkdocstrings, -r requirements.in
mkdocs-autorefs==1.4.1    # via mkdocstrings, mkdocstrings-python
mkdocs-get-deps==0.2.0    # via mkdocs, mkdocstrings
mkdocs-material==9.6.7    # via -r requirements.in
mkdocs-material-extensions==1.3.1  # via mkdocs-material
mkdocstrings==0.28.2      # via mkdocstrings-python, -r requirements.in
mkdocstrings-python==1.16.2  # via mkdocstrings
more-itertools==10.6.0    # via dbt-semantic-interfaces, jaraco-classes, jaraco-functools
msal==1.31.1              # via azure-datalake-store, azure-identity, msal-extensions
msal-extensions==1.2.0    # via azure-identity
msgpack==1.1.0            # via mashumaro
multidict==6.1.0          # via aiohttp, yarl
narwhals==1.29.1          # via plotly
nest-asyncio==1.6.0       # via -r requirements.in
networkx==3.4.2           # via dbt-core
nodeenv==1.9.1            # via pre-commit
numpy==1.26.4             # via arcgis, contourpy, dask, databricks-sql-connector, datacompy, imagehash, matplotlib, pandas, pylerc, pywavelets, scipy, shapely
oauthlib==3.2.2           # via databricks-sql-connector, requests-oauthlib
openpyxl==3.1.5           # via databricks-sql-connector
opentelemetry-api==1.30.0  # via prefect
oracledb==3.0.0           # via -r requirements.in
ordered-set==4.1.0        # via datacompy, deepdiff
orjson==3.10.15           # via prefect, -r requirements.in
packaging==24.2           # via dask, dbt-core, gunicorn, matplotlib, mkdocs, plotly, prefect, pytest
paginate==0.5.7           # via mkdocs-material
pandas==2.1.4             # via arcgis, country-converter, dask, databricks-sql-connector, datacompy, polars, -r requirements.in
parsedatetime==2.6        # via agate
partd==1.4.2              # via dask
pathspec==0.12.1          # via dbt-common, dbt-core, mkdocs, prefect, sqlfluff
pendulum==3.0.0           # via prefect
phonenumbers==9.0.0       # via -r requirements.in
pillow==11.1.0            # via arcgis, fpdf2, imagehash, matplotlib, -r requirements.in
pkce==1.0.3               # via -r requirements.in
platformdirs==4.3.6       # via mkdocs-get-deps, sqlfluff, virtualenv
playwright==1.50.0        # via -r requirements.in
plotly==6.0.0             # via -r requirements.in
pluggy==1.5.0             # via diff-cover, pytest
polars==1.22.0            # via datacompy, -r requirements.in
portalocker==2.10.1       # via msal-extensions
pre-commit==4.1.0         # via -r requirements.in
prefect==3.2.11           # via prefect-azure, prefect-dbt, prefect-shell, -r requirements.in
prefect-azure==0.4.2      # via -r requirements.in
prefect-dbt==0.6.6        # via -r requirements.in
prefect-shell==0.3.1      # via prefect-dbt
prometheus-client==0.21.1  # via prefect
propcache==0.3.0          # via aiohttp, yarl
protobuf==5.29.3          # via dbt-adapters, dbt-common, dbt-core
puremagic==1.28           # via arcgis
py-markdown-table==1.3.0  # via -r requirements.in
pyarrow==19.0.1           # via arcgis, dask, databricks-sql-connector, deltalake, fastexcel, polars, -r requirements.in
pyasn1==0.6.1             # via pyasn1-modules, rsa
pyasn1-modules==0.4.1     # via google-auth
pycparser==2.22           # via cffi
pydantic==2.10.6          # via dbt-databricks, dbt-semantic-interfaces, fastapi, prefect, pydantic-extra-types, pydantic-settings, -r requirements.in
pydantic-core==2.27.2     # via prefect, pydantic
pydantic-extra-types==2.10.2  # via prefect, -r requirements.in
pydantic-settings==2.8.1  # via prefect, -r requirements.in
pyee==12.1.1              # via playwright
pygments==2.19.1          # via diff-cover, mkdocs-material, rich
pyjwt==2.10.1             # via msal
pylerc==4.0               # via arcgis
pymdown-extensions==10.14.3  # via mkdocs-material, mkdocstrings
pymssql==2.3.2            # via -r requirements.in
pyodbc==5.2.0             # via -r requirements.in
pyotp==2.9.0              # via -r requirements.in
pyparsing==3.2.1          # via matplotlib
pyshp==2.3.1              # via arcgis
pyspnego==0.11.2          # via arcgis, requests-kerberos
pytest==8.3.5             # via sqlfluff
python-dateutil==2.9.0.post0  # via croniter, dateparser, dbt-common, dbt-semantic-interfaces, ghp-import, matplotlib, pandas, pendulum, prefect, time-machine, -r requirements.in
python-docx==1.1.2        # via docxcompose, docxtpl, -r requirements.in
python-dotenv==1.0.1      # via pydantic-settings
python-slugify==8.0.4     # via agate, prefect
python-socks==2.7.1       # via prefect
pytimeparse==1.1.8        # via agate
pytz==2025.1              # via croniter, dateparser, dbt-adapters, dbt-core, pandas, prefect
pywavelets==1.8.0         # via imagehash
pyyaml==6.0.2             # via apprise, dask, dbt-core, dbt-semantic-interfaces, mkdocs, mkdocs-get-deps, pre-commit, prefect, pymdown-extensions, pyyaml-env-tag, sqlfluff
pyyaml-env-tag==0.1       # via mkdocs
qrcode==8.0               # via -r requirements.in
readchar==4.2.1           # via prefect
referencing==0.36.2       # via jsonschema, jsonschema-specifications
regex==2024.11.6          # via dateparser, sqlfluff
requests==2.31.0          # via apprise, arcgis, azure-core, azure-datalake-store, databricks-sdk, databricks-sql-connector, dbt-common, dbt-core, docker, meraki, mkdocs-material, msal, requests-gssapi, requests-kerberos, requests-oauthlib, requests-toolbelt, snowplow-tracker
requests-gssapi==1.3.0    # via arcgis
requests-kerberos==0.15.0  # via arcgis
requests-oauthlib==2.0.0  # via apprise, arcgis
requests-toolbelt==1.0.0  # via arcgis
rfc3339-validator==0.1.4  # via prefect
rich==13.9.4              # via prefect, typer, -r requirements.in
rpds-py==0.23.1           # via jsonschema, referencing
rsa==4.9                  # via google-auth
ruamel-yaml==0.18.10      # via prefect, -r requirements.in
ruamel-yaml-clib==0.2.12  # via ruamel-yaml
ruff==0.9.10              # via -r requirements.in
scipy==1.15.2             # via imagehash
setuptools==75.8.2        # via docxcompose, prefect-azure
sgqlc==16.4               # via prefect-dbt
shapely==2.0.7            # via -r requirements.in
shellingham==1.5.4        # via typer
six==1.17.0               # via azure-core, docxcompose, isodate, python-dateutil, rfc3339-validator, thrift
sniffio==1.3.1            # via anyio, asgi-lifespan, httpx, prefect
snowplow-tracker==1.1.0   # via dbt-core
soupsieve==2.6            # via beautifulsoup4
sqlalchemy==2.0.38        # via alembic, prefect, -r requirements.in
sqlfluff==3.3.1           # via sqlfluff-templater-dbt, -r requirements.in
sqlfluff-templater-dbt==3.3.1  # via -r requirements.in
sqlparams==6.2.0          # via dbt-spark
sqlparse==0.5.3           # via dbt-core
starlette==0.46.1         # via fastapi
tblib==3.0.0              # via sqlfluff
tenacity==9.0.0           # via -r requirements.in
text-unidecode==1.3       # via python-slugify
thrift==0.20.0            # via databricks-sql-connector
time-machine==2.16.0      # via pendulum
toml==0.10.2              # via prefect
toolz==1.0.0              # via dask, partd
tqdm==4.67.1              # via sqlfluff, -r requirements.in
traitlets==5.14.3         # via matplotlib-inline
truststore==0.10.1        # via arcgis
typer==0.15.2             # via prefect
types-pyyaml==6.0.12.20241230  # via -r requirements.in
typing-extensions==4.12.2  # via aiosqlite, alembic, anyio, azure-core, azure-cosmos, azure-identity, azure-mgmt-resource, azure-storage-blob, beautifulsoup4, dbt-adapters, dbt-common, dbt-core, dbt-semantic-interfaces, fastapi, mashumaro, prefect, pydantic, pydantic-core, pydantic-extra-types, pyee, python-docx, referencing, snowplow-tracker, sqlalchemy, typer
tzdata==2025.1            # via pandas, pendulum
tzlocal==5.3.1            # via dateparser
ujson==5.10.0             # via arcgis, prefect
urllib3==2.3.0            # via arcgis, databricks-sql-connector, docker, requests
uv==0.6.5                 # via prefect
uvicorn==0.34.0           # via prefect, -r requirements.in
virtualenv==20.29.3       # via pre-commit
watchdog==6.0.0           # via mkdocs
websockets==15.0.1        # via prefect
wrapt==1.17.2             # via deprecated
xlrd==2.0.1               # via -r requirements.in
xlsx2csv==0.8.4           # via -r requirements.in
xlsxwriter==3.2.2         # via -r requirements.in
yarl==1.18.3              # via aiohttp
zipp==3.21.0              # via importlib-metadata
